/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */

/**
 * @name Neel's Discord
 * @description A modified darkened discord theme.
 * @author ItsRecharge
 * @version 1.0.0
*/

@import url("https://crearts-community.github.io/Settings-Icons/clients/settings-icons.theme.css");

:root {
	/* amount of spacing and padding */
	--spacing: 12px;
	/* radius of round corners */
	--roundness: 16px;
	/* color of mentions and messages that mention you */
	--mention: hsla(190, 60%, 50%, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(190, 60%, 50%, 0.05);

	/* color of bright text on colored buttons */
	--text-1: hsl(220, 40%, 90%);
	/* color of headings and important text */
	--text-2: hsl(220, 25%, 70%);
	/* color of normal text */
	--text-3: hsl(220, 15%, 60%);
	/* color of icon buttons and channels */
	--text-4: hsl(220, 15%, 40%);
	/* color of muted channels/chats and timestamps */
	--text-5: hsl(220, 15%, 25%);

	/* color of dark buttons when clicked */
	--bg-1: hsl(220, 15%, 20%);
	/* color of dark buttons */
	--bg-2: hsl(220, 15%, 16%);
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(220, 15%, 13%);
	/* main background color */
	--bg-4: hsl(220, 15%, 10%);

	/* color of channels and icon buttons when hovered */
	--hover: hsla(230, 20%, 40%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(220, 20%, 40%, 0.2);
	/* color of messages when hovered */
	--message-hover: hsla(220, 0%, 0%, 0.1);
}

/* fix colors */
.mentioned-Tre-dv:before /* mention message left edge */,
.container-1QtPKm.checked-16gMAN /* settings checkbuttons */ 
.numberBadge-37OJ3S /* dm unread number */ 
.expandedFolderIconWrapper-3RwQpD svg /* folder icons */,
.strikethrough-2Kl6HF /* mute button strikethrough */ 
.folderIconWrapper-1oRIZr {
	background-color: transparent !important;
}
.container-1QtPKm /* settings checkbuttons default */ {
	background: var(--bg-1) !important;
}
.clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK /* server name hover */ {
	background: var(--message-hover);
}
.divider-2rZFJK /* unread dividers */ 
.iconBadge-3Mmg92 /* dm button */ 
.theme-dark .container-2IKOsH /* browse channels back */,
.theme-dark .header-3xB4vB /* browse channels header */,
.theme-dark .container-1um7CU /* browse channels body */,
.searchHeader-1r_ZSh /* search results number box */,
.wrapper-22rqw6 /* emoji selector server list */,
.chat-2ZfjoI.container-2YMsb4 /* message requests */ {
	background-color: var(--bg-4);
}
.wrapper-2RrXDg /* friend activity cards */,
.mainCard-3KBsBI /* forum posts and search */,
.container-3i3IzO /* thread embed */,
.embedFull-1HGV2S /* regular embeds like GitHub links */,
.attachment-1PZZB2 /* attachments */,
.textContainer-36wgKK /* embedded attachment text */,
.footer-GXWBBp /* embedded attachment footer */,
.hljs /* embedded attachment code */,
.markup-eYLPri code /* codeblocks */,
.hoverButtonGroup-2yZIzC /* download button on embeds */,
.messageContainer-3VTXBC /* inbox messages */,
.channelRow-4X_3fi /* browse channels channels */,
.container-18GwIk /* channel threads dropdown */,
.reaction-3vwAF2 /* reactions */,
.vc-plugins-card /* vencord plugins card */ {
	background: var(--bg-3);
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover /* friend activity cards on hover */,
.channelRow-4X_3fi:hover:not(.disabled-3cfocy) /* browse channels channel hover */ {
	background: var(--bg-2);
}

/* create/join a server modal color fix */
.layer-fP3xEz .theme-light {
	--background-primary: var(
		--bg-3
	); /* template buttons & create my own button */
	--modal-background: var(--bg-4); /* general background of the modal */
	--modal-footer-background: var(
		--bg-4
	); /* general background of the modal footer */
	--header-primary: var(--text-3); /* color of bolded headers */
	--header-secondary: var(--text-4); /* color of unbolded headers */
	--text-normal: var(--text-3); /* color of button text */
	--background-modifier-accent: none; /* remove borders */
	--background-modifier-hover: var(--bg-2); /* button hover */
	--background-modifier-active: var(--bg-1); /* button active */
	--button-secondary-background: var(--bg-2); /* join a server button */
	--button-secondary-background-active: var(--text-5);
	--button-secondary-background-hover: var(--bg-1);
	--input-background: var(--bg-3); /* background of the invite link textbox */
	--input-placeholder-text: var(
		--text-5
	); /* color of invite link textbox text */
}
.layer-fP3xEz .footerSeparator-3U8YsT /* remove footer separator border */,
.layer-fP3xEz .rootWithShadow-2hdL2J /* remove modal border */ {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.lookBlank-FgPMy6 .contents-3NembX /* fix back button */ {
	color: var(--text-4);
}
.layer-fP3xEz .input-m1-Y7Q /* remove input borderish thing */,
.layer-fP3xEz .rowContainer-3t7486 /* fix server discovery */ {
	background: var(--bg-3);
}

/* make emoji selector same color */
.emojiButtonNormal-35P0_i .sprite-2lxwfc {
	filter: grayscale(100%) brightness(40%) sepia(0.9) hue-rotate(180deg) !important;
}

/* filter login image */
.artwork-L5TAwQ {
	filter: saturate(0.2) hue-rotate(-20deg) brightness(0.15);
}

/* add margin */
.content-1SgpWY /* outside edges */ {
	margin: 0 var(--spacing) var(--spacing) 0;
}
.sidebar-1tnWFu /* channel list and user panel */,
.content-1jQy2l /* between chat and member list */ {
	gap: var(--spacing);
}
.sidebar-1tnWFu /* channel list and chat */ {
	margin-right: var(--spacing);
}
.resizeHandle-PBRzPC /* pretend to be a margin */ {
	width: var(--spacing);
}
.wrapper-1gVUIN.fullScreen-KhZZcz /* fullscreen vc */ {
	margin-top: var(--spacing);
}

#vc-spotify-player /* vencord spotify */,
.container-1zzFcN /* vc panel */,
.panel-2ZFCRb /* stream panel */ {
	padding: 10px;
}

/* remove backgrounds to show gaps */
.sidebar-1tnWFu /* channel list and user panel */,
.chat-2ZfjoI /* chat and member list */ {
	background: none;
}

/* add rounded corners */
.container-1NXEtd /* channel list */,
.panels-3wFtMD /* user panels */,
.privateChannels-oVe7HL /* dms list */,
.container-2cd8Mz /* friends page */,
.chat-2ZfjoI /* blanket for main chat area */,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU /* main chat with thread sidebar open */,
.container-3XgAHv /* thread */,
.applicationStore-2nk7Lo {
	border-radius: var(--roundness);
	overflow: hidden;
}
.chatContent-3KubbW /* main chat */,
.container-3wLKDe /* forum */,
.container-2o3qEW /* member list outer (when main chat) */,
.membersWrap-3NUR2t /* member list */,
.members-3WRCEx /* member list inner (when forum post) */ {
	border-radius: 0 0 var(--roundness) var(--roundness);
}

/* separate header bar */
.title-31SJ6t.themed-Hp1KC_ /* remove bg */ {
	background: none;
}
.searchResultsWrap-5RVOkx /* allow overflow */ {
	overflow: visible;
}
.chatContent-3KubbW::before /* main chat */,
.membersWrap-3NUR2t::before /* member list */,
.searchResultsWrap-5RVOkx::before /* search results */,
.profilePanel-2PWEok::before /* dm profile */,
.container-3wLKDe::before /* forum channel */,
.profilePanel-2VBkh8::before {
	content: '';
	position: absolute;
	margin-top: -48px;
	background-color: var(--background-primary);
	width: 100%;
	height: 48px;
	border-radius: var(--roundness) var(--roundness) 0 0;
}

/* rearrange toolbar */
.iconWrapper-2awDjA[aria-label='Help'] /* hide help */ {
	display: none;
}
.search-39IXmY /* push searchbar to right */ {
	order: 1;
}
.iconWrapper-2awDjA[aria-label='Show Member List'] /* push toggle buttons to right */, 
.iconWrapper-2awDjA[aria-label='Show User Profile'] {
	order: 1;
}
.iconWrapper-2awDjA[aria-label='Hide Member List'] /* add gap when member list/user profile open */,
.iconWrapper-2awDjA[aria-label='Hide User Profile'] {
	order: 1;
	margin-right: calc(24px + var(--spacing));
}
.chat-2ZfjoI:has(.searchResultsWrap-5RVOkx) .iconWrapper-2awDjA[aria-label='Show Member List'] /* add gap when search results */, 
.chat-2ZfjoI:has(.searchResultsWrap-5RVOkx) .iconWrapper-2awDjA[aria-label='Show User Profile'] {
	margin-right: calc(24px + var(--spacing));
}
.searchBar-jGtisZ /* make searchbar fit member list width */ {
	width: 208px !important;
}
.iconWrapper-2awDjA[aria-label='Hide User Profile'] ~ .search-39IXmY .searchBar-jGtisZ /* make searchbar fit user profile width */ {
	width: 308px !important;
}
.chat-2ZfjoI:has(.searchResultsWrap-5RVOkx) .searchBar-jGtisZ /* make searchbar fit search results width */ {
	width: 386px !important;
}

/* remove shadows */
.content-1jQy2l::before /* main chat header */, 
.tabBody-2dgbAs::before /* friend list header */,
.chat-1-OBC7::before /* voice channel chat header */,
.headerBar-1dSpQr:before /* nitro page header */,
.searchBar-3TnChZ /* dm list header */,
.header-3OsQeK /* channel list header */,
.header-uVCAlo /* sticker panel header */,
.header-2TLOnc /* gif panel header */,
.header-11eigE /* emoji panel header */,
.theme-dark .separator-3C440w /* events panel */,
.chat-25x62K:before /* forum post header */ {
	box-shadow: none !important;
}
.children-3xh0VB:after  /* toolbar shadow */ {
	background: none !important;
}

/* only show scrollbar when hover */
.auto-2TJ1RH:hover::-webkit-scrollbar-thumb,
.auto-2TJ1RH:hover::-webkit-scrollbar-track {
	visibility: visible;
}
.auto-2TJ1RH::-webkit-scrollbar-thumb,
.auto-2TJ1RH::-webkit-scrollbar-track {
	visibility: hidden;
}

/* top corner title */
.wordmarkWindows-2dq6rw svg {
	display: none;
}
.wordmarkWindows-2dq6rw::after {
	content: "Neel's Discord";
	display: block;
	position: relative;
	width: 200px;
	height: 16px;
	line-height: 16px;
	font-family: var(--font-headline);
	font-size: 11px;
	font-weight: 600;
	color: var(--text-5);
}
